<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="secondapp.gpp.com.secondapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cc"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MySearchBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".ui.MyServiceActivity" />
        <activity android:name=".ui.TableLayoutActivity" />
        <activity android:name=".ui.MyCalculator" />

        <activity android:name=".ui.MyDrawerLayout" />

        <service android:name=".service.MyService" />
        <!--广播静态注册-->
        <!--<receiver android:name=".MyBroadCast" >-->
        <!--<intent-filter>-->
        <!--<action android:name="com.gpp.secondapp"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name=".MyBroadCast_Sec" />-->
        <!--<receiver android:name=".MyBroadCast_Thirth" />-->
    </application>
</manifest>